/arctic/bin32/
/arctic/bin64/
/arctic/o32/
/arctic/o64/
/arctic/bin32.img
/arctic/bin64.img
/bin/
/efi/
/external/
/include/acpica/
/kernel/acpica/
/o32/
/o64/
/release/
/scripts/dancy.mk
/system/
LOADER.512
LOADER.AT
*.obj
